extends layout

block content
  h1.text-center Timestamp Microservice
  
 
  
  div.jumbotron(style='padding-left:20px;')
    h2.text-center How to use
    ol(style="font-weight:bold;")
      li
        p You can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).
      li 
        p If it does, it returns both the Unix timestamp and the natural language form of that date.
      li  
        p  If it does not contain a date or Unix timestamp, it returns null for those properties.
  
    p.
      Example Usage : 
      #[code /December%2015,%202015]
      or 
      #[code /1450137600]

    p.
      Example Output :
      #[code {"naturalDate":"15 December, 2015","unixDate":1450137600}]
