body {
  padding: 50px;
  font-style: "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
	padding-bottom: 10px;
}
a {
  color: #00B7FF;
}
p{
	font-size:20px;
}

.jumbotron{
	border-radius: 20px;
	margin-top: 30px;
	
}
